:root {
  --black: #121212;
  --primary: #566a82;
  --grey: #c1c1c1;
}

a,
button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}
