a,
button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.flex {
  display: flex;
}

.lh-normal {
  line-height: 1.3rem;
}
