.banner_wrapper {
  width: 100%;
  height: 800px;
  position: relative;
}
.banner_z1,
.banner_z2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner_z1 {
  z-index: 10;
}
.banner_z2 {
  z-index: 20;
}

.banner_image {
  width: 550px;
  aspect-ratio: 3/4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_title {
  display: flex;
  justify-content: flex-start;
  font-size: 4.2rem;
  font-weight: 500;
  color: transparent;
  position: relative;
}

.banner_title:before,
.banner_title:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to right,
    var(--primary) 0%,
    var(--primary) 14.2%,
    white 14.2%,
    white 85.92%,
    var(--primary) 85.92%,
    var(--primary) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.banner_body {
  margin-top: 1rem;
  font-size: 1rem;
  color: white;
}

/*  */
/* introduction */
.introduction_wrapper {
  width: 100%;
}
.introduction_inner {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  gap: 4rem;
}

.introduction_item {
  text-align: justify;
  flex-basis: 50%;
}

/*  */
/* opticlear */
.opticlear_wrapper {
  width: 100%;
}

.opticlear_inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opticlear_image_1 {
  width: 900px;
  aspect-ratio: 4/3;
  background: var(--primary);
}
.opticlear_text {
  max-width: 590px;
  text-align: center;
  font-size: 0.9rem;
}

/*  */
/* reviews */
.reviews_wrapper {
  width: 100%;
}
.reviews_inner {
  margin-top: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*  */
/* try -- items */
.try_wrapper {
  width: 100%;
}
.try_inner {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.try_item {
  flex-basis: 19%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}
.try_item_image {
  width: 100%;
  aspect-ratio: 110/115;
}
.try_item_info {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.try_item_price {
  color: var(--primary);
}

.opticlear_icon {
  background: #a4befb99;
  color: var(--primary);
  font-size: 0.8rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.75rem 1rem;
}
