.banner_wrapper {
  width: 100%;
  height: 800px;
  position: relative;
}
.banner_z1,
.banner_z2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner_z1 {
  z-index: 10;
}
.banner_z2 {
  z-index: 20;
}

.banner_image {
  width: 550px;
  aspect-ratio: 3/4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_title {
  font-size: 4rem;
  font-weight: 500;
  color: var(--primary);
  mix-blend-mode: difference;
}
.banner_body {
  margin-top: 1rem;
  font-size: 1rem;
  color: white;
}

/*  */
/* introduction */
.introduction_wrapper {
  width: 100%;
}
.introduction_inner {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  gap: 4rem;
}

.introduction_item {
  text-align: justify;
  flex-basis: 50%;
}

/*  */
/* opticlear */
.opticlear_wrapper {
  width: 100%;
}

.opticlear_inner {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opticlear_image_1 {
  width: 900px;
  aspect-ratio: 4/3;
  background: var(--primary);
}
.opticlear_text {
  margin-top: 4rem;
  max-width: 590px;
  text-align: center;
  font-size: 0.9rem;
}
