.banner_wrapper {
  width: 100%;
  height: 800px;
  position: relative;
}
.opticlear_z1,
.opticlear_z2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.opticlear_z1 {
  z-index: 10;
}
.opticlear_z2 {
  z-index: 20;
}

.banner_image {
  width: 550px;
  aspect-ratio: 3/4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.opticlear_title {
  font-size: 4rem;
  font-weight: 500;
  color: var(--primary);
  mix-blend-mode: difference;
}
.opticlear_body {
  margin-top: 1rem;
  font-size: 1rem;
  color: white;
}

/*  */
/* introduction */
.introduction_wrapper {
  width: 100%;
  line-height: 1.3rem;
}
.introduction_inner {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  gap: 4rem;
}

.introduction_item {
  text-align: justify;
  flex-basis: 50%;
}
