.header {
  width: 100%;
  display: flex;
  align-items: center;
  /* padding: 2rem 1rem; */
  min-height: 8vh;
  z-index: 50;
  transition: all 0.2s;
  color: var(--primary);
}
.header_inner {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.scrolled {
  background: rgba(255, 255, 255, 0.8);
}

.menu_button {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  cursor: pointer;
}
.menu_button.active {
  opacity: 0;
}
.menu_line {
  position: relative;
  border-radius: 10rem;
  top: 25%;
  width: 1.5rem;
  height: 2px;
  background: var(--primary);
}
.menu_line::after {
  content: "";
  width: 1rem;
  top: 400%;
  right: 0;
  height: 2px;
  border-radius: 10rem;
  position: absolute;
  background: var(--primary);
  transition: all 0.2s;
}
.menu_button:hover .menu_line::after {
  width: 1.5rem;
}

.cart_button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

/*  */
/* responsive */
@media (max-width: 821px) {
  .header {
    color: white;
  }
  .header_inner {
    font-size: 1.25rem;
  }

  .cart_button {
    display: none;
  }
  .menu_line,
  .menu_line::after {
    background: var(--white);
  }
  .header.scrolled {
    color: var(--black);
  }
  .header.scrolled .menu_line,
  .header.scrolled .menu_line::after {
    background: var(--primary);
  }
}
