.brand {
  font-size: 0.9rem;
}

/*  */
/* banner */
.banner_wrapper {
  width: 100%;
  display: flex;
}

.banner_item {
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_item:first-child {
  flex-basis: 57%;
}
.banner_item:last-child {
  flex-basis: 43%;
}
.brand_banner {
  padding-right: 7.5rem;
  padding-left: 5rem;
}
.banner_text {
  /* height: 20px; */
  display: block;
  overflow: hidden;
}
.brand_title {
  color: var(--primary);
  font-size: 4rem;
  font-weight: 300;
  margin-left: -0.35rem;
}
.banner_text_secondary {
  margin-top: 1.5rem;
}

/*  */
/* story */
.story_wrapper {
  width: 100%;
}
.story_inner {
  margin-top: 1.5rem;
  max-width: 80%;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  flex-wrap: wrap;
}
.story_item {
  flex-basis: 47.5%;
}

.story_image_wrapper {
  flex-basis: 100%;
  position: relative;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.story_image {
  object-fit: cover;
}

/*  */
/* faqs */
.faqs_wrapper {
  width: 100%;
}

.faqs_inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  position: relative;
}
.faqs_item {
  padding-top: 5rem;
}
.faqs_item:first-child {
  flex-basis: 60%;
}
.faqs_item:last-child {
  flex-basis: 40%;
}
.faqs_image {
  height: 800px;
  background-size: cover;
}

/*  */
/* media */
@media (max-width: 1920px) {
  .story_inner {
    max-width: 75%;
  }
}

@media (max-width: 1441px) {
  .banner_item:nth-child(1) {
    padding: 2rem;
  }

  /* story */
  .story_image_wrapper {
    height: 300px;
  }

  /* faqs */
  .faqs_image {
    height: 700px;
  }
}

@media (max-width: 1281px) {
  .faqs_image {
    height: 600px;
  }
}

@media (max-width: 1025px) {
  .faqs_image {
    height: 500px;
  }
}

@media (max-width: 821px) {
  .banner_item:first-child {
    display: none;
  }
  .banner_item:last-child {
    flex-basis: 100%;
    width: 100%;
  }
  .story_inner {
    max-width: 90%;
  }
  .story_image_wrapper {
    height: 250px;
  }
}

@media (max-width: 651px) {
  .banner_item {
    height: 100vh;
  }
  /* story */
  .story_inner {
    max-width: 100%;
    gap: 1vw;
  }
  .story_item {
    width: 100%;
    flex-basis: 100%;
  }
  .story_image_wrapper {
    margin-top: 4vw;
    height: 250px;
  }

  /* faqs */
  .faqs_inner {
    flex-direction: column;
  }
  .faqs_item {
    padding-top: 0;
  }
  .faqs_image {
    display: none;
  }
}
